
.all {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 25px;
  margin: 0px;
  background: #99CCFF;
}

potato_img {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.images {
  padding: 20px;
}

.glossary {
  margin: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 50px;
  background: #99CCFF;
}

.indented {
  margin: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 25px;
  background: #99CCFF;
}
